<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
  <script src="../web/Angular/LoginController.js"></script>
  <link rel="icon" href="img/logo.png" type="image/icon type">
  <title> BR University</title>
  
  <script src="../web/Angular/Module.js"></script>
  <script src="../web/Angular/Services.js"></script>
  <script src="../web/Angular/ContactController.js"></script>
</head>

<body ng-app="MyApp" ng-controller="contact">

  <setion class="navbar">
    <!-- <div class="navbarcontain"> -->

    <div class="col-md-2">
      <img src="img/logo.png" alt="">
    </div>
    <div class="col-md-7">
      <h4>बिनोद राणा विश्वविद्यालय, हज़ारीबाग़</h4>
      <h4>BINOD RANA UNIVERSITY, HAZARIBAGH</h4>
    </div>
    <div class="col-md-3">
      <!-- <span type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="color: white;">Admin login</span> -->

      <!-- <a class="log btn-primary" href="./admin/login.html" role="button">Admin Login</a> -->

      <a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com//"><i class="fa-brands fa-linkedin"></i>
        <a href="https://www.facebook.com//"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com//"><i class="fa-brands fa-instagram"></i>
          <a href="https://www.youtube.com//"><i class="fa-brands fa-youtube"></i></a>
          </a><a href="7979881793"><i class="fa-solid fa-phone"></i>+91 7979881793</a>
          <span type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
            style="color: white;">Contact Us</span>
    </div>

  </setion>

  <!-- Information Start..... -->
  <section>
    <div class="information">
      <div class="container">
        <div class="btn-group">
          <a href="index.html"><i class="fa-solid fa-house"></i></a>

        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            About Us
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="about.html">About University</a>
            <a class="dropdown-item" href="vision.html">Vission & Mission</a>
            <a class="dropdown-item" href="#">List of Vice Chancellors</a>
            <a class="dropdown-item" href="#">Administration</a>
            <a class="dropdown-item" href="#">Alumni</a>
            <a class="dropdown-item" href="#">Authority</a>
            <a class="dropdown-item" href="#">List of Affiliated Institutes</a>
            <a class="dropdown-item" href="#">Brochure</a>
            <a class="dropdown-item" href="#">Administration Officers</a>
            <a class="dropdown-item" href="#">Visitor's Gallery</a>
            <a class="dropdown-item" href="#">Map</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Students
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="feepay.html">Student Portal</a>
            <a class="dropdown-item" href="feepay.html">Online Fees Payment</a>
            <a class="dropdown-item" href="result.html">Examination Result</a>
            <a class="dropdown-item" href="admitcard.html">Admit Card</a>
            <a class="dropdown-item" href="notice.html">Examination Programme</a>
            <a class="dropdown-item" href="#">Learning Resources</a>
            <a class="dropdown-item" href="#">Placement Cell</a>
            <a class="dropdown-item" href="feepay.html">Fee Structure</a>
            <a class="dropdown-item" href="notice.html">Examination Calender</a>
            <a class="dropdown-item" href="#">UG & PG Syllabus</a>
            <a class="dropdown-item" href="#">NEP 2020 Syllabus</a>
            <a class="dropdown-item" href="#">Plagiarism Cell</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Academic
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="department.html">Department</a>
            <a class="dropdown-item" href="result.html">Result</a>
            <a class="dropdown-item" href="#">NAD</a>
            <a class="dropdown-item" href="#">Academic Calender</a>
            <a class="dropdown-item" href="notice.html">Examination</a>
            <a class="dropdown-item" href="#">MOOCS/Swaym</a>
            <a class="dropdown-item" href="#">Library</a>
            <a class="dropdown-item" href="result.html">Result</a>
            <a class="dropdown-item" href="#">Training</a>
            <a class="dropdown-item" href="#">University Handbook</a>
            <a class="dropdown-item" href="#">Workshop</a>
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Admission
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="college.html">Collages</a>
            <a class="dropdown-item" href="#">Another action</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Syllabus
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">B.Arch</a>
            <a class="dropdown-item" href="#">BBA</a>
            <a class="dropdown-item" href="#">BCA</a>
            <a class="dropdown-item" href="#">Hotel Management</a>
            <a class="dropdown-item" href="#">B.Tech</a>
            <a class="dropdown-item" href="#">Diploma</a>
            <a class="dropdown-item" href="#">M.Tech</a>
            <a class="dropdown-item" href="#">MBA</a>
            <a class="dropdown-item" href="#">MCA</a>
            <a class="dropdown-item" href="#">M.Phil</a>
            <a class="dropdown-item" href="#">Pharmacy</a>
            <a class="dropdown-item" href="#">Ph.D</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Notification
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="notice.html">Notice</a>
            <a class="dropdown-item" href="#">Download</a>
            <a class="dropdown-item" href="#">E-Tenders</a>
            <a class="dropdown-item" href="#">Current Tenders</a>
            <a class="dropdown-item" href="#">Contract Awarded</a>
            <a class="dropdown-item" href="#">Archive</a>
          </div>
        </div>
        <!-- Example single danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Others
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">ACT & Statutes</a>
            <a class="dropdown-item" href="#">Directory</a>
            <a class="dropdown-item" href="#">Links</a>
            <a class="dropdown-item" href="#">AMENITIES</a>
            <a class="dropdown-item" href="#">Gallery</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Information End..... -->

  <!-- slider start..... -->
  <section class="slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </section>
  <!-- Slider End..... -->

  <!-- Marquee News Start.... -->
  <section class="newupdate">
    <marquee width="100%" direction="left" onmouseenter="this.stop();" onmouseleave="this.start()"
      style="background-color:#bdcded;">
      <a href="img/1.jpg">
        <li>M.Tech Admission Notice & Application Form for Session 2022-24 <img src="img/newlogo2.gif" alt=""></li>
      </a>
    </marquee>
  </section>
  <!-- Marquee News End...... -->

  <!-- Notice Section Start..... -->
  <section class="notice">
    <div class="container" style="background-color:rgba(255, 255, 255, 0); padding: 10px;">
      <div class="row"
        style="margin: 50px; padding: 20px; background-color: rgb(214, 238, 238); border: #f44100; box-shadow:10px ;">
        <div class="col-md-6">
          <h3><b>University Update</b></h3>
          <hr>
          <marquee width="100%" direction="up" height="200px" onmouseenter="this.stop();" onmouseleave="this.start()" ;>
            <a href="img/1.jpg">
              <li>M.Tech Admission Notice & Application Form for Session 2022-24 <img src="img/newlogo2.gif" alt="">
              </li>
            </a>
            <a href="img/2.jpg">
              <li>B.Tech 6th Semester Exam notice for 2019 batch <img src="img/newlogo2.gif" alt=""></li>
            </a>
            <a href="img/3.jpg">
              <li>B.Tech 5th semester examination Notice</li>
            </a>
            <a href="img/A._P._J._Abdul Kalam.jpg">
              <li>B.Tech 4th semester examination Notice</li>
            </a>
            <a href="img/apj.jpg">
              <li>B.Pharma 2nd semester examination Notice</li>
            </a>
            <a href="img/dance1.jpg">
              <li>M.tech classes start notice examination Notice</li>
            </a>
            <a href="img/dancing3.jpg">
              <li>M.Tech examination fee Notice</li>
            </a>
          </marquee>
        </div>
        <div class="col-md-6">
          <h3><b>Acadmic Update</b></h3>
          <hr>
          <marquee width="100%" direction="up" height="200px" onmouseenter="this.stop();" onmouseleave="this.start()" ;>
            <a href="img/1.jpg">
              <li>M.Tech examination Schedule <img src="img/newlogo2.gif" alt=""></li>
            </a>
            <a href="img/2.jpg">
              <li>Summer Vacation Notice</li>
            </a>
            <a href="img/3.jpg">
              <li>Holiday Notice</li>
            </a>
          </marquee>
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Notice Section End...... -->



  <!-- <section class="aboutus">
    <div class="about">
      <h2>ABOUT BRIC</h2>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>At our university, the student body is our number one priority and we are committed to providing the best
            resources possible. Our student services section offers a wide range of advice and support to assist
            students
            in achieving their academic and personal goals. We have experienced and knowledgeable staff available to
            offer
            guidance on a range of topics, including career guidance, financial aid, housing, health services and much
            more.....
            <button class="btnmore">
              <a href="about.html">Read more</a>
            </button>
          </p>
        </div>
        <div class="col-md-6">
          <img src="img/md-duran-1VqHRwxcCCw-unsplash.jpg" alt="">
        </div>
      </div>
    </div>
  </section> -->



  <!-- HOD's section start... -->

  <section class="hod" style="background: url('img/leaders\ background.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>CHANCELLOR</h2>
          <div class="bdr">
            <img src="img/leaderdivider.png" alt="">
          </div>
          <div class="hodphoto">
            <img src="img/chancellors.jpg" alt="">
            <h3>Shri Ramesh Bais</h3>
          </div>
        </div>
        <div class="col-md-4">
          <h2>VICE CHANCELLOR</h2>
          <div class="bdr">
            <img src="img/leaderdivider.png" alt="">
          </div>
          <div class="hodphoto">
            <img src="img/vc.jpeg" alt="">
            <h3>Prof. Vijay Pandey</h3>
          </div>
        </div>
        <div class="col-md-4">
          <h2>REGISTRAR</h2>
          <div class="bdr">
            <img src="img/leaderdivider.png" alt="">
          </div>
          <div class="hodphoto">
            <img src="img/registar.jpg" alt="">
            <h3>Dr. Amar Kumar Chaudhary</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- HOD's section end... -->

  <!-- Contact US Start.. -->
  <section class="contactus">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(8, 169, 21); text-align: center;">Contact
              Us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name" ng-model="name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Contact No.:</label>
                <input type="number" class="form-control" id="recipient-name" ng-model="mobile">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="recipient-name" ng-model="email">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text" ng-model="message"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" style="background-color: rgb(56, 109, 224);"
              data-dismiss="modal">Close</button>
            <button type="button" value="{{btnName}}" class="btn btn-secondary"   ng-click="SubmitContact()" style="background-color: rgb(56, 109, 224);">Send
              message</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
  </script>
  <!-- Contact US end.. -->

  <!-- About BRIU start... -->

  <section class="aboutsile" style="background: url('img/aboutbg2.jpg');">
    <div class="container">
      <h2>Binod Rana University</h2>
      <p>At our university, the student body is our number one priority and we are committed to providing the best
        resources possible. Our student services section offers a wide range of advice and support to assist
        students
        in achieving their academic and personal goals. We have experienced and knowledgeable staff available to
        offer
        guidance on a range of topics, including career guidance, financial aid, housing, health services and much
        more.....</p>
      <div class="abtcount">
        <div class="row">
          <div class="col-md-3">
            <div class="icon-boder">
              <img src="img/icon-1.png" alt="">
            </div>
            <div class="counter-value">176</div>
            <span>inception</span>
          </div>
          <div class="col-md-3">
            <div class="icon-boder">
              <img src="img/icon-4.png" alt="">
            </div>
            <div class="counter-value">32</div>
            <span>Faculties</span>
          </div>
          <div class="col-md-3">
            <div class="icon-boder">
              <img src="img/icon-2.png" alt="">
            </div>
            <div class="counter-value">51</div>
            <span>Departments</span>
          </div>
          <div class="col-md-3">
            <div class="icon-boder">
              <img src="img/icon-3.png" alt="">
            </div>
            <div class="counter-value">5</div>
            <span>Institude</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About BRIU end.. -->
  <!-- Acadmic units -->

  <!-- Acadmic units end -->
  <!-- Event Section Start.... -->
  <section class="activity">
    <div class="container">
      <h2>Latest Events</h2>
      <div class="row">
        <div class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/dance1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dancing2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/dancing3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/singing1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/singing2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/singing3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/sports1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/sports2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/sports3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Event Section End... -->

  <!-- jfngk -->



  <!-- kfdfgk -->
  <!-- Flip card Section Start ....... -->
  <!-- <section class="quotes">
    <div class="container">
      <h2>OUR INSPIRATION</h2>
      <hr>
      <div class="teacher">
        <div class="row">
          <div class="col-md-6">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="img/apj.jpg" alt="Avatar" style="width:100%;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h2>A.P.J Abdul Kalam</h2>
                  <hr>
                  <p>Look at the sky. We are not alone. The whole universe is friendly to us and conspires only to give
                    the best to those who dream and work.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="img/atal bihari.jpg" alt="Avatar" style="width:100%;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h2>Atal Bihari Vajpayee</h2>
                  <hr>
                  <p> I dream of an India that is prosperous, strong and caring. An India, that regains a place of
                    honour in the comity of great nations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Flip card Section End...... -->

  <!-- Footer Section Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="footer-col">
          <h3>Quick Link</h3>
          <div class="footer-col-details">
            <ul>
              <li><a href="https://www.aicte-india.org/">AICTE</a></li>
              <li><a href="">AICTE Recommended List Of Books For UG degree Courses</a></li>
              <li><a href="http://jutranchi.ac.in/">Jharkhand University of Technology</a></li>
              <li><a href="#">Youth4Work Online Test</a></li>
              <li><a href="#">Internship@ Internshala</a></li>
              <li><a href="#">National e-Scholarship</a></li>
              <li><a href="#"> NIRF</a></li>
              <li><a href="#">NIRF Data 2022</a></li>
              <li><a href="https://ekalyan.cgg.gov.in/">E-Kalyan Jharkhand</a></li>
              <li><a href="#">AICTE Feedback</a></li>
              <li><a href="#">Mandatory Disclosure</a></li>
              <li><a href="#">Holiday List-2023</a></li>
              <li><a href="#">Online Classes link</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-col">
          <h3>
            Cell & Committee
            <hr>
          </h3>
          <div class="footer-col-details">
            <ul>
              <li><a href="#">Disciplinary Commitee</a></li>
              <li><a href="#">Grievance Redressal Committee</a></li>
              <li><a href="#">Industry Institude Interaction</a></li>
              <li><a href="#">Intrenal Complaints Committee</a></li>
              <li><a href="#">Women's Cell</a></li>
              <li><a href="#">Sport Committee</a></li>
              <li><a href="#">Internal Quality Assurance Cell</a></li>
              <li><a href="#">Overall Event Activities</a></li>
              <li><a href="#">Online Grievance Redressal Form</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-col">
          <img src="img/logo.png" alt="logo">
          <h3>Binod Rana University</h3>
          <ul class="no-bullets">
            <li><i class="fa-sharp fa-solid fa-location-dot"></i><a
                href="https://goo.gl/maps/hLF8PAu9sjtJEafP6">Itkhori, Chatra, Jharkhand 825408</a></li>
            <li><i class="fa-solid fa-phone"></i><a href="7979881793">+91 7979881793</a></li>
            <li><i class="fa-solid fa-envelope"></i><a href="info@briu.ac.in">info@briu.ac.in</a></li>
            <li><i class="fa-solid fa-earth-americas"></i><a href="www.briu.com">www.briu.ac.in</a></li>
            <a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com//"><i class="fa-brands fa-linkedin"></i>
              <a href="https://www.facebook.com//"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com//"><i class="fa-brands fa-instagram"></i>
                <a href="https://www.youtube.com//"><i class="fa-brands fa-youtube"></i></a>
                <!-- <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3636.294620780662!2d85.1754670149919!3d24.301356384320624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f345ff8527360b%3A0x8dccfe85499380ee!2sBinod%20Rana%20%26%20Family!5e0!3m2!1sen!2sin!4v1671905774691!5m2!1sen!2sin"
              width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe></div> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <section class="developer">
    <div class="col-md-12">
      Design and Maintenance by Manish
    </div>
  </section>
  <!-- Footer Section End -->


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>